{% extends 'base.html.twig' %}

{% block title %}Libro{% endblock %}

{% block body %}
    <h1>Libro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ libro.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ libro.titulo }}</td>
            </tr>
            <tr>
                <th>A_publicacion</th>
                <td>{{ libro.aPublicacion }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ libro.autor.nombre }}</td>
            </tr>
            <tr>
                <th>Editorial</th>
                <td>{{ libro.editorial.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_libro_index') }}">Volver</a><br><br>

    <a href="{{ path('app_libro_edit', {'id': libro.id}) }}">Editar</a>
    
{% endblock %}
